<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/common-head.ejs") %>

    <title>NotEd: secure note-taking</title>
  </head>
  <body class="text-gray-800 min-h-screen flex flex-col bg-gray-50">
    <%- include("partials/header") %> <% if (!account) { %>
    <main class="flex flex-1 items-center justify-center px-4 py-10">
      <%- include("partials/features") %>
    </main>
    <% } else { %>
    <%- include("partials/dashboard") %>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
